{{> navigation}}

<div>
  {{#each dataUser}}
  <div id="">
  <h2 class="">Name: {{this.name}}</h2>
    <ul>
      <li>Lastname: {{this.lastname}}</li>
      <li>Email: {{this.email}}</li>
      <li>Age: {{this.age}}</li>
      <li>Role: {{this.role}}</li>
    </ul>
  </div>
  {{/each}}
</div>